html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	height: 100%;
}

@font-face {
	font-family: MyriadPro;
	src: url(../fonts/MyriadPro-LightSemiCn.ttf);
}

body {
	line-height: 1;
	height: 100%;
	font: 12px/12px Arial, Tahoma, sans-serif;
	color: #000;
	background: #f6f6f6;
	-moz-font-smoothing: grayscale;
}

ol, ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	word-break: break-all;
	letter-spacing: -0.0px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wraper {
	height: 100%;
}

.header {
	position: relative;
	z-index: 10;

	margin: 0 auto;
	height: 270px;
	min-width: 1000px;

	background: url(../img/back.png) repeat;

	-webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.14), inset 0px 122px 252px -55px rgba(0,0,0,0.75);;
	-moz-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.14), inset 0px 122px 252px -55px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.14), inset 0px 122px 252px -55px rgba(0,0,0,0.75);
}

.main {
	min-height: 100%;
	background-color: #f6f6f6;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.header-content {
	width:1000px;
	margin: 0 auto;
	padding: 15px 20px;
}

.gradient-border {
	display: inline-block;
	float: left;

	height: 201px;
	width: 209px;
	padding: 1px;

	border-radius: 17px;
	background: linear-gradient(180deg, rgba(136,136,136,1) 0%, rgba(150,150,150,1) 61%, rgba(82,82,82,1) 69%, rgba(87,87,87,1) 100%);
}

.gradient-border_information {
	width: 725px;
	margin: 0px 0px 0px 10px;

	border-radius: 18px;

	-webkit-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	-moz-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
}

.gradient-border_top-personal-panel {
	height: 36px;
	width: 943px;
	margin: 9px 0px 0px 0px;
	float: none;

	-webkit-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	-moz-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
}

.gradient-border_logo {
	-webkit-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	-moz-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
}


.logo {
	height: 199px;
	width: 207px;

	background-color: #080808;
	border-radius: 17px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 63px 42px;
}

.information {
	display: inline-block;
}

.information__item {
	float: right;
}

.information__item_contacts {
	float: left;

	display: inline-block;
	height: 43px;
	width: 379px;
	margin:89px 0px 0px 7px;

	background: #0a050178;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
}

.information__item_title{
	height: 48px;
	width: 435px;
	margin: 12px 0px 0px 10px;
	padding: 13px 30px;

	font: italic bold 24px/17px Arial, sans-serif;
	letter-spacing: -1.2px;

    background: #0a050178;
	border-top-left-radius: 13px;
	color: #e7eeef;
	border-bottom-left-radius: 13px;
}

.mail {
	float: left;

	margin: 14px 0px 0px 23px;

}

.mail > a {
	font: 14px/14px Arial, sans-serif;

	color: #e7eeef;
	text-decoration: none;

	cursor: pointer;
}

.phone {
	float: right;
	
	margin: 13px 36px 0px 0px;
}

.phone > a {
	font: 18px/17px "Arial Narrow", sans-serif;

	color: #e7eeef;
	text-decoration: none;

	cursor: pointer;
}

.name-company {
	position: relative;
	top: 137px;
	left: 38px;

	font: 24px/23px Arial, Tahoma, sans-serif;
	letter-spacing: 1.7px;

	text-decoration: none;
	color: #e7eeef;
	text-transform: uppercase;
}
.information {
	width: 723px;
	height: 199px;
	border-radius: 17px;
	background: url(../img/background-information.jpg) 0px -1px;
 }

.top-personal-panel {
	float:left;

	height: 34px;
	width: 941px;
	background: url(../img/top-personal-panel-bg.png);
	border-radius: 17px;
}

.autho {
	display: inline-block;
	margin: 6px 0px 0px 22px;

	font: 12px/12px Tahoma, sans-serif;
	font-weight: normal;
	color: #ffffff;
}

.autho__input {
	position: relative;
	top: 1px;

	font: 12px/18px "Tahoma", sans-serif;

	height: 22px;
	width: 116px;
	margin:0px 18px 0px 3px;
/* 	margin-left: 3px;
margin-right: 18px; */
	padding: 0px 0px 0px 7px;

	border: none;
	border-radius: 5px;
	background: rgb(115,122,124);
	background: linear-gradient(180deg, rgba(115,122,124,1) 0%, rgba(78,86,88,1) 100%);
}

.label-form {
	color: #bbbbbb;
}

.label-form_login {
	display: inline-block;
}

.label-form_password {
	display: inline-block;
	position: relative;
	top: 1px;
} 

.autho__input:valid, .autho__input:focus {
	background: rgb(175,182,184);
	background: linear-gradient(0deg, rgba(175,182,184,1) 0%, rgba(248,254,255,1) 100%);
}

.autho__btn {
	display: inline-block;
	height: 14px;

	font: 12px/12px Tahoma, sans-serif;
	font-weight: 700;

	background: none;
	text-transform: capitalize;	
	border: none;
	border-bottom: 1px solid;
	color: #ffffff;

	cursor: pointer;
}

.autho__btn_register {
	margin: 0px 0px 0px 1px;
}

.autho__btn_sign {
	margin:0px 23px 0px -7px;
}

.basket {
	float: right;

	margin: 13px 27px 0px 0px;

	font: 12px/12px Arial, sans-serif;
	font-weight: 100;
}

.basket-count-items {
	font-weight: bold;
	letter-spacing: 0.12px;
}

.basket-logo {
	float: left;

	display: inline-block;
	height: 22px;
	margin: -7px 0px 0px 0px;
	padding: 0px 0px 0px 28px;


	background: url('../img/sprites.png') -125px -59px;
}


.top-menu {
	position: relative;
	z-index: 8;
	clear: both;

	min-width: 1000px;
	background: url(../img/top-menu-pattern.png) repeat;

	
	-webkit-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.71), inset 0px 41px 26px -30px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.71), inset 0px 41px 26px -30px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.71), inset 0px 41px 26px -30px rgba(0,0,0,0.75);
}
.top-menu-content {
	margin: 0 auto;
	padding: 0px 20px;
	width: 1000px;
}

.no-decoration {
	text-decoration: none;
	color: #ffffff;
	letter-spacing: -0.25px;
}

.underline {
	letter-spacing: 0.4px;

	border-bottom: 1px solid;
	display: inline-block;
	padding: 0px 0px 0px 1px;
}

.list-menu {
	display: inline-block;
	margin: 10px 0px 14px 23px;

	list-style: none;
}

.list-menu__item {
	float: left;

	margin: 5px 85px 0px 0px;
}

.list-menu__item_last {
	margin: 5px 0px 0px 0px;
}

.list-menu__link {
	font: 16px/17px Arial, sans-serif;
	letter-spacing: -0.22px;

	border-bottom: 1px solid;
	text-decoration: none;
	color: #ffffff;

	cursor: pointer;
}

.list-menu__link:hover {
	color: #ffde00;
}

.title {
	font: bold 17px/17px Arial, sans-serif;
	color:#c24000;
}

.title_catalog {

	margin: 0px 0px 0px 1px;
	
	color:#c24000;
}

.catalog-list__link {
	word-break: break-word;
	font: 13px/18px Arial, sans-serif;

	text-decoration: none;
	border-bottom: 1px solid;
	color: #036BC4;
}

.catalog-list {
	margin: 20px 0px 0px 2px;
}

.catalog-list__item {
	margin: 0px 0px 11px 0px;
}

.main-content {
	width:1000px;
	margin: 0 auto;
	padding: 51px 20px 96px 20px;
}

.news {
	margin: 71px 0px 0px 0px;
}

.sidebar {
	float: left;
	width: 20%;
}

.title_news {
	margin-left: 1px;
	
	color: #058b7a;
}

.news-list {
	width: 164px;
	margin: 20px 0px 0px 2px;
}

.news-list__item {
	margin: 8px 0px 10px 1px;
}

.news-list__link {
	font: 11px/16px Arial, sans-serif;
	word-break: break-word;

	text-decoration: none;
	border-bottom: 1px solid;
	color: #036BC4;
}

.news-list__time-item {
	height: 30px;
	width: 137px;
	margin: 6px 0px 0px 0px;

	font: 10px/16px Arial, sans-serif;

	border-bottom: 2px solid #dadada;
	color: #666666;
}

.news-list__time-item_last {
	border: none;
}

.archive-news {
	margin: -5px 0px 0px 2px;
}

.archive-news__link {
	font: 13px/16px Arial, sans-serif;
	color:#005bc1;
}

.products {
	width: 760px;
	display: inline-block;
}

.content-list {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 3px 0px 0px 28px;
}

.content-list__item {
	margin:0px 32px 53px 0px;
}

.content-list li:nth-child(3n) {
	margin: 0px 0px 53px 0px;
}

.content-list li:nth-child(3) {
	margin: 0px 0px 53px -2px;
}

.content-image {
	overflow: hidden;

	height: 155px;
	width: 220px;

	border: 5px solid #797979;
}

.content-image-item {
	min-height: 150px;
	min-width: 215px;
	margin: -5px;

}

.content-list__item_last {
	margin-right: 0px;
}

.content-list__link {
	display: block;
	max-width: 220px;
	margin: 9.5px 1px 1px 0px;

	font: 15.21px/16px Arial, sans-serif;
	word-break: break-word;

	color: #005bc1;
	text-decoration: underline;
}

.product-information {
	margin: 21px 7px 0px 218px;
}

.product-information__title {
	font: bold 13px/13px Arial, sans-serif;
	letter-spacing: 0.29px;
	color: #666666;
}

.product-information__stuff {
	font: 12px/16px Arial, sans-serif;
	color: #666666;
}

.test {
	height: 50px;
	width: 50px;
}

.product-information__stuff > p+p {
	margin: 16px 0px 0px 0px;
	padding: 0px 7px 0px 0px;

	word-break: break-word;

	text-align: justify;
	letter-spacing: 0.12px;
}

.first-stuff-par {
	margin: 18px 0px 0px 0px;
	padding: 0px 7px 0px 0px;

	word-break: break-word;

	text-align: justify;
	letter-spacing: 0.12px;
}

.footer {
	position: relative;
	min-height: 170px;
	min-width: 1000px;

	background: url(../img/back.png) repeat;

	-webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.24), inset 0px 122px 252px -55px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.24), inset 0px 122px 252px -55px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.24), inset 0px 122px 252px -55px rgba(0,0,0,0.75);
}

.content-list__item_last-row {
	margin: -3px 32px 50px 0px;
}

.foot-content {
	width: 1000px;
	margin: 0 auto;
	padding: 18px;
}

.foot-flex {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.copyright {
	margin: 1px 0px 0px 4px;
	width: 192px;

	font-family: Arial, sans-serif;
	color: #a4a4a4;
}

.copyright__small {
	font-size: 11px;
	letter-spacing: -0.1px;
}

.copyright__large {
	margin: 7px 0px 0px -1px;
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;

	letter-spacing: 0.27px;
}

.bold {
	font-weight: bold;
}

.copyright__logo {
	width: 36px;
	height: 29px;
	margin: 20px 0px 0px 7px;

	background: url('../img/sprites.png') -10px -105px;
}

.copyright__logo-text {
	margin: 8px 0px 0px -2px;

	font: 9px/9px Arial, sans-serif;
	letter-spacing: 0.7px;

	color: #e7eeef;
	text-transform: uppercase;
}

.submenu {
}

.submenu-list {
	display: inline-flex;
	width: 500px;
	margin: 1px 0px 0px 15px;

	list-style: none;
}

.news-parag {
	overflow: hidden;
	text-overflow: ellipsis;
}

.submenu-list__item {
	padding: 0px 10px;

	border-right: 1px solid #ffffff;
}

.submenu-list__link {
	font: 11px/11px Arial, sans-serif;
	word-break: break-all;

	color: #ffffff;
	border-bottom: 1px solid;
	text-decoration: none;
}

.submenu-list__item:last-child {
	border: none;
}

.developer__link {
	padding: 0px 3px 0px 0px; 
	word-break: break-all;
	letter-spacing: -0.15px;

	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid;
}

.developer {
	font: 11px/11px Arial, sans-serif;
	word-spacing: -0.2px;

	float: right;
	margin: 2px -4px 0px 0px;
	color: #ffffff;
}

.ya-met {	
	margin: 65px 0px 0px 146px;
	height: 31px;
	width: 88px;
	background: url('../img/sprites.png') -125px -10px;
}

.content-list__link:hover, .catalog-list__link:hover, .news-list__link:hover  {
	color: #549ef1;
}

.mobile-menu, .list-mobile {
	display: none;
}

@media (max-width: 480px) {

	.catalog, .submenu {
		display: none;
	}

	.mobile-menu, .list-mobile {
		display: block;
	}

	.header-content, .main-content, .foot-content {
		width: 480px;
		min-width: 320px;
	}

	.main-content {
		padding: 15px 20px 32px 20px;
	}

	.basket-dash {

	}

	.mail>a {
		text-decoration: underline;
	}

	.basket-logo {}

	.products, .gradient-border_top-personal-panel, .top-personal-panel {
		width: 100%;
	}

	.gradient-border_top-personal-panel {

		margin: 18px 0px 1px 0px;
	}
	
	.autho__btn {
		height: 15px;
	}

	.autho__btn_sign {
		margin: 0px 18px 0px -7px;
	}

	.autho {
		margin: 10px 0px 0px 31px;
	}

	.name-company {
		left:25px;
	}

	.basket {
		margin: 13px 17px 0px 0px;
	}

	.gradient-border_logo {
		width: 50%;
	}

	.gradient-border_information {
		width: 50%;
		margin-left: -1px;
	}

	.gradient-border_information, .information {
		border-left: 0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.gradient-border_logo, .logo {
		border-right: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}


	.information {
	margin-left: -53px;		

	width: 264px;
	padding: 8px 42px;

    background: #080808;
	}

	.top-menu {
		min-width: 320px;
		width: 480px;
		height: auto;
		background: #7C8384;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.gradient-border {
		-webkit-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.67);
		-moz-box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.67);
		box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.67);
	}

	.top-menu-content {
		padding: 1px 27px 7px 27px;
		width: auto;
	}

	.information__item_contacts {
		position: relative;
		top: -125px;

		margin: 0px 0px 0px 2px;

		background: none;
	}

	.mail, .phone {
		float: none;
		margin: 0px;
	}

	.phone {
		letter-spacing: -0.2px;
	}

	.mail {
		position: relative;
		top:40px;
	}

	.information__item_title {
		margin: 93px 0px 0px 0px;
		padding: 4px;

		line-height: 29px;

		background: none;
	}

	.information__item {
		width: 100%;
	}

	.header {
		width: 480px;
		min-width: 320px;
		height: 290px;

		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.autho__input {
		display: none;
	}

	.label-form {
		display: none;
	}

	.logo {
		width: 100%;
		background-position: 50px 40px;
		background-size: 96px;
	}

	.header-content {
		padding: 15px 27px;
	}

	.header {
	}

	.list-menu {
		display: block;
		margin: 17px 0px 26px 44px;
	}

	.list-menu__item {
		float: none;

		margin: 0px 0px 13px 0px;
	}

	.list-menu__link {
		font:15px/14pt Arial, sans-serif;
	}

	.list-menu__link_cat {
		padding: 10px 13px 2px 18px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom: 0px;

		background-color: #ffffff;
		color: #005bc1;
		text-decoration: underline;
	}

	.list-menu__item_last {
		margin-bottom: 0px;
	}

	.mobile-menu {
		height: 30px;
		width: 90px;
		margin: 17px 0px 0px 0px;
		padding: 5px 0px 0px 45px;

		font: 15px/15px Arial, sans-serif;

		background: url('../img/sprites.png') -66px -105px;
		
	}

	.mobile-menu__link {
		font: 15px/15px Arial, sans-serif;
		word-break: break-all;

		color: #ffffff;
		text-decoration: none;
		cursor: pointer;
	}

	.mobile-menu__link:active {
		color: #ffe558;
	}

	.list-mobile {
		height: 155px;
		margin: -1px 0px 0px 0px;
		padding: 24px 20px 23px 20px;

		background: #ffffff;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;

	}

	.list-mobile__item {
		float: left;

		margin: 0px 25px 17px 0px;
	}

	.list-mobile__item_last {
		margin-right: 0px;
	}

	.list-mobile__link {
		font: italic 15px/15px Arial, sans-serif;

		text-decoration: none;
		color: #005bc1;
		border-bottom: 1px solid;
	}

	.list-menu__item_cat {
		margin: 13px 0px 15px -17px;
	}

	.main {
		width: 480px;
		min-width: 320px;
		padding-top: 26px;
	}

	.footer {
		width: 480px;
		min-width: 320px;
	}

	.list-menu {
		display: flex;
		flex-direction: column;
	}

	.list-menu .list-menu__item:nth-child(1){
		order:1;
	}
	.list-menu .list-menu__item:nth-child(2){
		order:3;
	}
	.list-menu .list-menu__item:nth-child(3){
		order:2;
	}
	.list-menu .list-menu__item:nth-child(4){
		order:5;
	}
	.list-menu .list-menu__item:nth-child(5){
		order:4;
	}
	.list-menu .list-menu__item:nth-child(6){
		order:6;
	}

	.content-list__item, .content-list {
		margin: 0px;
	}

	.content-list__item {
		margin:0px 6px 50px 8px;
	}

	.content-list li:nth-child(3n) {
		margin: 0px 6px 50px 8px;
	}

	.content-image {
		min-height: 144px;
		min-width: 205px;
		height: 144px;
		width: 205px;
	}

	.content-image-item {
		width: inherit;
		min-height: 144px;
		min-width: 205px;
	}

	.sidebar, .news, .news-list {
		width: auto;
		margin-top: 0px;
		float: none;
	}

	.title_news {
		font: bold 21px/21px Arial, sans-serif;
	}

	.news {
		margin: 2px 0px 0px 5px;
	}

	.news-list {
		margin: 20px 0px 0px 2px;
	}

	.news-list__item {
		margin: 8px 0px 10px 0px;
		width: 99%;
	}

	.news-list__time-item {
		height: 33px;
		width: 98%;

		margin: 10.5px 0px 13px 0px;

		font: 13px/13px Arial, sans-serif;
	}

	.news-list__link {
		font: 15px/18px Arial, sans-serif;
		color: #005bc1;
	}

	.archive-news {
		margin: -12px 0px 0px 0px;
	}

	.archive-news__link {
		font: 15px/18px Arial, sans-serif;
	}

	.product-information {
		clear: both;

		margin: 49px 0px 10px 0px;
	}

	.product-information__title {
		margin: 0px 0px 0px 5px;

		font: bold 21px/21px Arial, sans-serif;
		letter-spacing: 0.1px;
	}

	.product-information__stuff {
		width: 97%;
		margin: 0px 0px 0px 6px;

		font: 15px/20px Arial, sans-serif;
	}

	.product-information__stuff > p {
		margin: 11px 0px 0px;
		text-align: inherit;
	}

	.copyright {
		margin-top: 20px;
		margin-left: 8px;
	}

	.developer {
		margin: 21px 7px 0px 0px;
	}

	.ya-met {
		margin: 78px -163px 0px 0px;
	}

}

@-moz-document url-prefix() {
	.label-form{
		letter-spacing: -0.12px;
	}

	.autho__btn {
		letter-spacing: -0.06px;
	}

	.no-decoration {
		letter-spacing: -0.22px;
	}

	.underline {
		letter-spacing: 0px;
	}

	.mail > a {
		letter-spacing: -0.07px;
	}

	.catalog-list__link {
		letter-spacing: 0.04px;
		word-spacing: 0.7px;
	}

	.content-list__link {
		letter-spacing: -0.11px;
	}

	.product-information__stuff > p {
		line-height: 1.335em;
		letter-spacing: -0.05px;
	}

	.product-information__title {
		letter-spacing: 0px;
	}

	.copyright__small {
		letter-spacing: 0px;
	}

	.copyright__large {
		letter-spacing: -0.02px;
	}

	.copyright__logo-text {
		letter-spacing: 0.6px;
	}

	.submenu-list__link {
		letter-spacing: -0.1px;
	}


}