html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	height: 100%;
}

@font-face {
	font-family: MyriadPro;
	src: url(../_fonts/MyriadPro-LightSemiCn.ttf);
}

body {
	height: 100%;
	font: 12px/12px Arial, Tahoma, sans-serif;
	color: #000;
	background: #f6f6f6;
}

ol, ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header {
	position: relative;

	margin: 0 auto;
	height: 318px;
	min-width: 1000px;

	border-bottom: solid black 48px;
	border-image: url(../_img/border.jpg) 100 repeat repeat;
	background: linear-gradient(180deg, rgba(124,124,124,1) 0%, rgba(255,255,255,1) 100%), url(../_img/back.png) repeat;
	background-blend-mode: multiply;

	-webkit-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.71);
	-moz-box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.71);
	box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.71);
}

.main {
	padding-top: 36px;
	background-color: #f6f6f6;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.header-content {
	width:1000px;
	margin: 0 auto;
	padding: 15px 20px;
}

.gradient-border {
	display: inline-block;
	float: left;

	height: 200px;
	width: 209px;
	padding: 1px;

	border-radius: 17px;
	background: linear-gradient(180deg, rgba(136,136,136,1) 0%, rgba(150,150,150,1) 61%, rgba(82,82,82,1) 69%, rgba(87,87,87,1) 100%);
}

.gradient-border_information {
	width: 725px;
	margin-left: 10px;

	-webkit-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	-moz-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
}

.gradient-border_top-personal-panel {
	height: 35px;
	width: 943px;
	margin-top:10px;
	float: none;

	-webkit-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	-moz-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
}

.gradient-border_logo {
	-webkit-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	-moz-box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
	box-shadow: 8px 9px 9px 0px rgba(0,0,0,0.71);
}


.logo {
	height: 198px;
	width: 207px;

	background-color: #080808;
	border-radius: 17px;
	background-image: url(../_img/logo.png);
	background-repeat: no-repeat;
	background-position: 56% 34%;
}

.information {
	display: inline-block;
}

.top-menu {
	clear: both;
}

.information__item {
	float: right;
}

.information__item_contacts {
	float: left;

	display: inline-block;
	height: 43px;
	width: 379px;
	margin-left: 7px;
	margin-top: 89px;

	background: url(../_img/background-information.jpg) -7px 448px rgb(166, 95, 48);
	background-blend-mode: multiply;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
}

.information__item_title{
	height: 48px;
	width: 435px;
	margin-left: 10px;
	margin-top: 12px;
	padding: 12px 30px;

	font: italic bold 22px/22px Arial, sans-serif;

	background: url(../_img/background-information.jpg) 100% 8% rgb(166, 95, 48);
	background-blend-mode: multiply;
	border-top-left-radius: 13px;
	color: #e7eeef;
	border-bottom-left-radius: 13px;
}

.mail {
	float: left;
	margin-left: 24px;
	margin-top: 14px;

	font: 14px/14px Arial, sans-serif;

	color: #e7eeef;
}

.phone {
	float: right;
	margin-right: 33px;
	margin-top: 14px;

	font: 14pt/14pt MyriadPro, sans-serif;

	color: #e7eeef;
}

.name-company {
	position: relative;
	top: 137px;
	left: 38px;

	font: 24px/24px Arial, Tahoma, sans-serif;
	letter-spacing: 2px;

	text-decoration: none;
	color: #e7eeef;
	text-transform: uppercase;
}
.information {
	width: 723px;
	height: 198px;
	border-radius: 17px;
	background: url(../_img/background-information.jpg);
 }

.top-personal-panel {
	float:left;
	height: 33px;
	width: 941px;
	background: url(../_img/top-personal-panel-bg.png);
	border-radius: 17px;
}

.autho {
	display: inline-block;
	margin-left: 22px;
	margin-top: 6px;

	font: 12px/12px Tahoma, sans-serif;
	color: #ffffff;
}

.autho__input {
	font: 12px/12px Tahoma, sans-serif;
	font-stretch: expanded;

	height: 22px;
	width: 116px;
	margin-left: 3px;
	margin-right: 18px;
	padding-left: 7px;

	border: none;
	border-radius: 5px;
	background: rgb(115,122,124);
	background: linear-gradient(180deg, rgba(115,122,124,1) 0%, rgba(78,86,88,1) 100%);
}

.label-form_password {
	position: relative;
	top: 1px;
} 

.autho__input:valid, .autho__input:focus {
	background: rgb(175,182,184);
	background: linear-gradient(0deg, rgba(175,182,184,1) 0%, rgba(248,254,255,1) 100%);
}

.autho__btn {
	font: 12px/12px Tahoma, sans-serif;
	font-weight: 700;

	background: none;
	text-decoration: underline;
	text-transform: capitalize;
	border: none;
	color: #ffffff;

	cursor: pointer;
}

.basket {
	float: right;

	margin-top: 13px;
	margin-right: 28px;

	font: 12px/12px Arial, sans-serif;
	font-weight: 100;
}

.basket-logo {
	height: 22px;
    margin-top: -7px;
    padding-left: 28px;
    display: inline-block;
    float: left;

	background: url("../_img/basket.png") no-repeat;
	background-position: 0% 60%;
}

.autho__btn_sign {
	margin-left: -7px;
	margin-right: 23px;
}

.no-decoration {
	text-decoration: none;
	color: #ffffff;
}

.underline {
	text-decoration: underline;
}

.list-menu {
	display: inline-block;
	margin: 23px 0px 26px 23px;

	list-style: none;
}

.list-menu__item {
	float: left;

	margin-right: 85px;
}

.list-menu__item_last {
	margin-right: 0px;
}

.list-menu__link {
	font: 12pt/14pt Arial, sans-serif;
	letter-spacing: -0.22px;

	border-bottom: 1px solid;
	text-decoration: none;
	color: #ffffff;

	cursor: pointer;
}

.list-menu__link:hover {
	color: #ffde00;
}

.title {
	font: bold 17px/17px Arial, sans-serif;
	color:#c24000;
}

.title_catalog {
	margin-left: 1px;
	
	color:#c24000;
}

.catalog-list__link {
	font: 13px/14pt Arial, sans-serif;

	text-decoration: none;
	border-bottom: 1px solid;
	color: #036BC4;
}

.catalog-list {
	margin-top: 21px;
	margin-left: 3px;
}

.catalog-list__item {
	margin-bottom: 11px;
}

.main-content {
	width:1000px;
	margin: 0 auto;
	padding: 15px 20px 95px 20px;
}

.news {
	margin-top: 70px;
}

.sidebar {
	float: left;
	width: 20%;
}

.title_news {
	margin-left: 1px;
	
	color: #058b7a;
}

.news-list {
	width: 164px;
	margin-top: 20px;
	margin-left: 2px;
}

.news-list__item {
	margin-left: 1px;
	margin-bottom: 10px;
	margin-top: 8px;
}

.news-list__link {
	font: 11px/16px Arial, sans-serif;

	text-decoration: none;
	border-bottom: 1px solid;
	color: #036BC4;
}

.news-list__time-item {
	height: 30px;
	width: 137px;
	margin-top: 6px;

	font: 10px/16px Arial, sans-serif;

	border-bottom: 2px solid #dadada;
	color: #666666;
}

.news-list__time-item_last {
	border: none;
}

.archive-news {
	margin-left: 2px;
	margin-top: -5px;
}

.archive-news__link {
	font: 13px/16px Arial, sans-serif;
	color:#005bc1;
}

.products {
	width: 760px;
	display: inline-block;
}

.content-list {
	display: inline-block;
	margin-left: 28px; 
	margin-top: 3px;
}

.content-list__item {
	float: left;
	margin-bottom: 50px;
}

.content-image-item {
	height: 156px;
	width: 221px;

	border: 6px solid #797979;
}

.content-list__item {
	margin-right: 30px;
}

.content-list__item_last {
	margin-right: 0px;
}

.content-list__link {
	display: block;
	margin: 8px 0px 1px 1px;

	font: 15px/16px Arial, sans-serif;

	color: #005bc1;
	border-bottom: 1px;
}

.product-information {
	margin-left: 219px;
	margin-top: 18px;
	margin-right: 7px;
}

.product-information__title {
	font: bold 13px/13px Arial, sans-serif;
	letter-spacing: 0.25px;
	color: #666666;
}

.product-information__stuff {
	font: 12px/16px Arial, sans-serif;
	color: #666666;
}

.product-information__stuff > p {
	margin-top: 17px;
	text-align: justify;
}

.footer {
	position: relative;
	height: 170px;
	min-width: 1000px;

	background: linear-gradient(180deg, rgba(124,124,124,1) 0%, rgba(255,255,255,1) 100%), url(../_img/back.png) repeat;
	background-blend-mode: multiply;

	-webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.24);
}

.foot-content {
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

.copyright {
	display: inline-block;
	float: left;
	width: 192px;

	font-family: Arial, sans-serif;
	color: #a4a4a4;
}

.copyright__small {
	font-size: 11px;
}

.copyright__large {
	margin-top: 7px;
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;

	letter-spacing: 0.15px;
}

.bold {
	font-weight: bold;
}

.copyright__logo {
	width: 50px;
	height: 50px;
	margin-top: 9px;


	background: url(../_img/copy-logo.png) center center no-repeat;
}

.copyright__logo-text {
	margin-top: -2px;
	margin-left: -1px;

	font: 9px/9px Arial, sans-serif;
	letter-spacing: 0.7px;

	color: #e7eeef;
	text-transform: uppercase;
}

.submenu {
	display: inline-block;
}

.submenu-list {
	display: inline-block;
	margin-left: 16px;

	list-style: none;
}

.submenu-list__item {
	float: left;

	padding: 0px 10px;

	border-right: 1px solid #ffffff;
}

.submenu-list__link {
	font: 11px/11px Arial, sans-serif;

	color: #ffffff;
	border-bottom: 1px solid;
	text-decoration: none;
}

.submenu-list__item_last {
	border: none;
}

.developer__link {
	color: #ffff;
	text-decoration: none;
	border-bottom: 1px solid;
}

.developer {
	font: 11px/11px Arial, sans-serif;

	float: right;
	margin-right: 15px;	
	color: #ffff;
}

.ya-met {
	float: right;
	height: 31px;
	width: 88px;
	margin-top: 63px;
	margin-right: -163px;

	background: url(../_img/ya-met.png);
}

.content-list__link:hover, .catalog-list__link:hover, .news-list__link:hover  {
	color: #549ef1;
}

.mobile-menu, .list-mobile {
	display: none;
}

@media (max-width: 480px) {

	.catalog, .submenu {
		display: none;
	}

	.mobile-menu, .list-mobile {
		display: block;
	}

	.header-content, .main-content, .foot-content {
		width: 480px;
		min-width: 320px;
	}

	.main-content {
		padding-bottom: 52px;
	}

	.basket-dash {
		content: "-";
	}

	.products, .gradient-border_top-personal-panel, .top-personal-panel {
		width: 100%;
	}

	.gradient-border_top-personal-panel {
		margin-top: 19px;
	}
	
	.autho__btn_sign {
		margin-right: 18px;
	}

	.autho {
		margin-left: 31px;
		margin-top: 11px;
	}

	.name-company {
		left:25px;
	}

	.basket {
		margin-right: 17px;
	}

	.gradient-border_logo {
		width: 50%;
	}

	.gradient-border_information {
		width: 50%;
		margin-left: 0px;
	}

	.gradient-border_information, .information {
		border-left: 0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.gradient-border_logo, .logo {
		border-right: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}


	.information {
	position: relative;
	left: -53px;		

	width: 263px;
	padding: 8px 42px;

    background: #080808;
	}

	.information__item_contacts {
		position: relative;
		top: -125px;

		margin: 0px 0px 0px 2px;

		background: none;
	}

	.mail, .phone {
		float: none;
		margin: 0px;
	}

	.phone {
		letter-spacing: -0.2px;
	}

	.mail {
		position: relative;
		top:40px;
	}

	.information__item_title {
		margin: 93px 0px 0px 0px;
		padding: 4px;

		line-height: 29px;

		background: none;
	}

	.information__item {
		width: 100%;
	}

	.header {
		width: 480px;
		min-width: 320px;
		height: 730px;
	}

	.autho__input {
		display: none;
	}

	.label-form {
		display: none;
	}

	.logo {
		width: 100%;
		background-position: 50px 40px;
	}

	.header-content {
		padding: 15px 27px;
	}

	.header {
		border: none;
		border-bottom: 440px solid #7c8384;
	}

	.list-menu {
		display: block;
		margin-left: 44px;
		margin-top: 21px;

	}

	.list-menu__item {
		float: none;

		margin-right: 0px;
		margin-bottom: 13px;
	}

	.list-menu__link_cat {
		padding: 10px 13px 2px 18px;

		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom: 0px;

		background-color: #ffffff;
		color: #005bc1;
		text-decoration: underline;
	}

	.list-menu__item_last {
		margin-bottom: 0px;
	}

	.mobile-menu {
		height: 30px;
		width: 90px;
		margin-top: 34px;
		padding-left: 45px;
		padding-top: 8px;

		font: 15px/15px Arial, sans-serif;

		background: url("../_img/icon-menu.png") center left no-repeat;
		
	}

	.mobile-menu__link {
		font: 15px/15px Arial, sans-serif;

		color: #ffffff;
		text-decoration: none;
		cursor: pointer;
	}

	.mobile-menu__link:hover {
		color: #ffe558;
	}

	.list-mobile {
		height: 155px;
		margin-top: -1px;
		padding: 23px 20px;

		background: #ffffff;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;

	}

	.list-mobile__item {
		float: left;

		margin-right: 25px;
		margin-bottom: 17px;
	}

	.list-mobile__item_last {
		margin-right: 0px;
	}

	.list-mobile__link {
		font: italic 15px/15px Arial, sans-serif;

		text-decoration: none;
		color: #005bc1;
		border-bottom: 1px solid;
	}

	.list-menu__item_cat {
		margin-left: -17px;
		margin-top: 13px;
		margin-bottom: 15px;
	}

	.main {
		width: 480px;
		min-width: 320px;
		padding-top: 26px;
	}

	.footer {
		width: 480px;
		min-width: 320px;
	}

	.list-menu {
		display: flex;
		flex-direction: column;
	}

	.list-menu .list-menu__item:nth-child(1){
		order:1;
	}
	.list-menu .list-menu__item:nth-child(2){
		order:3;
	}
	.list-menu .list-menu__item:nth-child(3){
		order:2;
	}
	.list-menu .list-menu__item:nth-child(4){
		order:5;
	}
	.list-menu .list-menu__item:nth-child(5){
		order:4;
	}
	.list-menu .list-menu__item:nth-child(6){
		order:6;
	}

	.content-list__item, .content-list {
		margin: 0px;
	}

	.content-list__item {
		margin:0px 6px 51px 8px;
	}

	.content-image-item {
		height: 144px;
		width: 205px;
		border: 5px solid #797979;
	}

	.sidebar, .news, .news-list {
		width: auto;
		margin-top: 0px;
		float: none;
	}

	.title_news {
		font: bold 21px/21px Arial, sans-serif;
	}

	.news {
		margin-left: 5px;
		margin-top: -4px;
	}

	.news-list {
		margin-top: 20px;
	}

	.news-list__item {
		margin-left: 0px;
		width: 99%;
	}

	.news-list__time-item {
		height: 33px;
		width: 98%;
		margin-top: 10px;
		margin-bottom: 13px;

		font: 13px/13px Arial, sans-serif;
	}

	.news-list__link {
		font: 15px/18px Arial, sans-serif;
		color: #005bc1;
	}

	.archive-news {
		margin: 0px;
	}

	.archive-news__link {
		font: 15px/18px Arial, sans-serif;
	}

	.product-information {
		clear: both;
		margin-top: 23px;
		margin-left: 0px;
	}

	.product-information__title {
		margin-left: 5px;

		font: bold 21px/21px Arial, sans-serif;
		letter-spacing: 0.1px;
	}

	.product-information__stuff {
		width: 97%;
		margin-left: 6px;

		font: 15px/20px Arial, sans-serif;
	}

	.product-information__stuff > p {
		margin-top: 11px;
		text-align: inherit;
	}

	.copyright {
		margin-top: 20px;
		margin-left: 8px;
	}

	.developer {
		margin-top: 21px;
		margin-right: 7px;
	}

	.ya-met {
		margin-top: 78px;
	}
}