body {
	margin:0px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.header {
	color: white;
	-webkit-box-shadow: 0 0px 6px 1px #000000;
	box-shadow: 0 0px 6px 1px #000000;
}

.border {
	border: 2px solid silver;
}

.border_red {
	border-color: red;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.header-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;

	margin: 0px;

	text-align: center;
	list-style: none;
}

.header-list__item {
	margin: auto 0px;
}

.header-list__item_autho {
	float:right;

	margin-right: 10px;
}

.header-list__item_autho a {
	text-decoration: none;
	color: white;
}

.header-list__item_info {
	color: white;
}

.logo {
	float: left;
	width: 122px;
	margin: 5px;
}

.search-form__text:active, .search-form__text {
	height: 22px;
	width: 190px;
	margin-right: -5px;
	padding: 2px 12px;	
	
	background-color: #000506db;
	border: 1px solid black;
	border-right: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	color: white;

}
.search-form__button {
	height: 28px;
	width: 30px;
	margin: auto 0px;

	background-color: #000506db;
	background-image: url(../img/search-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size:60%;
	border: 1px solid black;
	border-left: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	
	cursor: pointer;
}

.header-content {
	height: 40px;

	background-color: #0c171d;
}

	@media (min-width: 640px) {
		.main {
			display: flex;
			justify-content: space-between;
			flex-direction: row-reverse;
			flex-wrap: wrap;
		}
	}

	@media (max-width: 640px) {
		.header-list__item_info {
			display: none;
		}
	}

.main {
	background: url(../img/bg.jpg) repeat;
}

.main__item {
	margin: 20px 20px;
}

.main__item_content {
	display: flex;
	flex: 6;
	align-items: baseline;
	flex-direction: row;
	flex-wrap: wrap;

	font-size: 10pt;
}

.main__item_wallpapers {
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex: 6;
	flex-direction: row;
	flex-wrap: wrap;

	font-size: 10pt;

}

.article-item {
	flex:5;
	flex-basis: 40%;

	min-width: 300px;
	max-height: 400px;
	margin: 10px;

	background-color: #0c171d;
	border-radius: 4px;
	color:#88919d;

	-webkit-box-shadow: 0 0px 6px 1px #000000;
	box-shadow: 0 0px 6px 1px #000000;
}

.article-item__name {
	margin-bottom: 0px;
	padding: 0px 15px;

	font-size: 14pt;

	text-align: center;
}

.article-item_wallpapers {
	max-width: 200px;
}


.article-item__image img {
	float: left;
	width: 40%;
	height: 60%;
	margin: 12px 10px 10px 15px;
	
	overflow: hidden;
	border-radius: 1px;
}

.list-stat {
	margin: 20px 10px;
}

.list-stat__item {
	float: left;
}

.details blockquote {
	margin: 0px auto;
	padding: 10px;
};

.details__description {
	margin-top: 0px;
}

.list-stat {
	display: inline-block;

	list-style: none;
}

.main__item_sidebar {
	flex: 1;

	min-width: 230px;
	margin: 30px 30px;

	background-color: #0c171d;
	color: #88919d;
	border-radius: 4px;

	-webkit-box-shadow: 0 0px 6px 1px #000000;
	box-shadow: 0 0px 6px 1px #000000;
}

.list-stat__item {
	height: 20px;
	width: 20px;
	padding: 0 30px;

	background: url(../img/sprite_social-white.png) no-repeat;
}

.list-stat__item_view {
	height: 14px;
	width: 20px;

	background-position: -10px -10px;
}

.list-categories {
	display: inline;

}

.list-categories a{
	color: white;
	text-decoration: none;
}

.list-categories__item {
	padding: 10px 50px;

	font-size: 14px;

	border-bottom: 1px solid black;
	border-radius: 4px;
	list-style: none;
	text-transform: uppercase;

	cursor: pointer;
}
.list-categories__item:hover {
	background-color: #01080ab5;
}

.list-stat__item_like {
	height: 15px;
	width: 15px;

	background-position: -3px -44px;

	cursor: pointer;
}

.list-stat__item_like:hover {
	background: url(../img/sprite_social-white-hover.png) no-repeat;
	background-position: -3px -44px;
}
 
.list-categories__sub {
	display: none;

	/*margin: 0px;*/
	list-style: none;
}

.sidebar__name {
	text-align: center;
}

.image-wall {
	max-height: 300px;
	width: 100%;
}

.modal-wallpaper-show {
	position: fixed;
	top:14%;
	left: 17%;

	display: none;
	height: 80vh;
	width: 80vh;
}

.modal-wallpaper-show__item {
	height: 70vh;
	/*max-width: 50vw;*/
}

.wallpaper-item {
	height: 250px;

	background-size: cover;

	cursor: pointer;	
}

.modal-autho {
	position: fixed;

	display: none;
	height: 210px;
	width: 350px;
	background: #e3eaea;
	border-radius: 4px;
}

.modal-autho_register {
	height: 299px;
	width: 375px;
}

.modal-autho__panel {
	height: 32px;
	width: 100%;

	font-size: 20pt;

	background: rgb(0,45,70);
	background: linear-gradient(180deg, rgba(0,45,70,1) 0%, rgba(21,59,68,0.9248074229691877) 100%);
	text-align: center;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
1
.autho-form {

}

.autho-form__item {
	height: 22px;
	width: 302px;
	margin: 10px;
	padding: 2px 12px;

	background-color: #edeaea;
	border: 1px solid black;
	border-radius: 4px;
	color: black
}


.autho-form__item:invalid {
	background-color: #a9bbbb;
	color: black;
}

.autho-form__item:valid {
	background-color: #eff6f9;
	color: black;
}

.autho-form__item:focus {
	background-color: #eff6f9;
	color: black;
}

.autho-form__pass {
	height: 22px;
	width: 190px;
	margin-right: -5px;
	padding: 2px 12px;

	background-color: #f3f3f3e3;
	border: 1px solid black;
	border-radius: 4px;
	color: white;
}

.autho-form__item_sign {
	height: 31px;
	width: 70px;
	margin-left: 267px;

	cursor: pointer;
}

.forget-btn {
	margin: 13px;
	font-size:10pt;
}

.close-btn {
	position: absolute;
	top: 0px;
	right: 0px;

	display: block;
	width: 32px;
	height: 32px;

	text-decoration: none;
	color:white;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.logo-text {
	display: block;
	height: 40px;

	font-size: 8pt;
}

.icon-sub {
	position: relative;
	top: 15px;
	left: -26px;

	display: block;
	width: 15px;
	height: 15px;

	background: url(../img/computer.png) no-repeat;
	background-size: contain;
}

.logo-text:hover > .icon-sub {
	background: url(../img/computer-hover.png) no-repeat;
	background-size: contain;
}

.check-req {
	display: none;
}

.autho-form__item_register {
	margin-left: 174px;
	height: 40px;
	width: 163px;
}

.modal-name {
	font-size: 14pt;
}